name: Subir alumnos.csv a S3 diariamente

on:
  schedule:
    - cron: "0 12 * * *"   # 21:00 UTC = 4 pm Colombia
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Instalar dependencias
        run: |
          pip install boto3 pandas pyarrow

      - name: Configurar credenciales AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2

      - name: Copiar alumnos.csv a Downloads
        run: |
          mkdir -p ~/Downloads
          cp alumnos.csv ~/Downloads/alumnos.csv

      - name: Ejecutar script de subida
        run: python alumnosS3.py
