name: Subir alumnos.csv a S3 diariamente

on:
  schedule:
    - cron: "0 21 * * *"   # 21:00 UTC = 4 pm Colombia
  workflow_dispatch:

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Instalar dependencias
        run: |
          pip install boto3 pandas pyarrow

      - name: Copiar alumnos.csv a Downloads
        run: |
          mkdir -p ~/Downloads
          cp alumnos.csv ~/Downloads/alumnos.csv

      - name: Ejecutar script de subida
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: us-east-2
        run: python alumnosS3.py
